<div id="map" style="width: 84%" class="map-box"></div>
<button id="0" (click)="toggleMap2dDefaultBuildingsLayer()" class="toggle-button1">2D</button>
<button id="1" (click)="toggleMap3dDefaultBuildingsLayer()" class="toggle-button2">3D</button>
<button id="2" (click)="startNavigation()" class="toggle-button3">Navigation</button>
<div id="my-gui-container"></div>
<div class="selector">
    <select id="glbs" [(ngModel)]="glbfile" class="select" style="font-size: 150%;" name="glbs">
        <option value="" style="font-size: 0%;">selecione ficheiro 3D</option>
        <option *ngFor="let file of files" style="font-size: 80%;">{{file}}</option>
    </select>
    <select id="nodes" [(ngModel)]="name" class="select" style="font-size: 150%;" name="nodes">
        <option value="" style="font-size: 0%;">selecione nó</option>
        <option *ngFor="let node of chooseNodes" style="font-size: 80%;">{{node}}</option>
    </select>
    <button (click)="changeNode()" class="select" id="change">Mudar Objeto Nó</button>
</div>
<div class="selector2" style="margin-top: 1%;">
    <select id="nodes" [(ngModel)]="name1" class="select2" style="font-size: 150%;" name="nodes">
        <option value="" style="font-size: 0%;">selecione nó</option>
        <option *ngFor="let node of chooseNodes" style="font-size: 80%;">{{node}}</option>
    </select>
    <button (click)="createGUI()" class="select2" id="change">Mudar GUI</button>
</div>