.map-box {
  width: 90%;
  height: 90%;
  margin-top: 4.9%;
}

.toggle-button1 {
  margin-top: 6%;
  position: absolute; 
  right: 20px; 
  top: 20px; 
  width: 78px; 
  height: 50px;
  background-color: white; 
  color: black; 
  border: 2px solid #f4711d;
}
  
.toggle-button1:hover {
  background-color: #f4711d;
  color: white;
}

.toggle-button2 {
  margin-top: 9%;
  position: absolute; 
  right: 20px; 
  top: 20px; 
  width: 78px; 
  height: 50px;
  background-color: white; 
  color: black; 
  border: 2px solid #f4711d;
}
  
.toggle-button2:hover {
  background-color: #f4711d;
  color: white;
}

.toggle-button3 {
  margin-top: 12%;
  position: absolute; 
  right: 20px; 
  top: 20px; 
  width: 78px; 
  height: 50px;
  background-color: white; 
  color: black; 
  border: 2px solid #f4711d;
}
  
.toggle-button3:hover {
  background-color: #f4711d;
  color: white;
}

.marker {
  -webkit-transform:translateZ(1px);
  transform:translateZ(1px);
}

.select {
  margin-top: 70%;
  width: 18%; 
  font-size: 150%;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}

.select:hover{
  color: white;
  background-color: #c0b7b1;
  border: 2px solid rgb(0, 0, 0);
}

.select2 {
  width: 18%; 
  font-size: 150%;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}

.select2:hover{
  color: white;
  background-color: #c0b7b1;
  border: 2px solid rgb(0, 0, 0);
}

#my-gui-container {
  position: absolute;
  z-index: 10;
}