<div class="container">
    <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Criar Tripulante</h2>
  
    <div class="row">
      <div class="col-25">
        <label for="ldriverCC"><b>Cartão de Cidadão</b></label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="driverCC" id="ldriverCC" name="driverCC" placeholder="cartão de cidadão [8]...">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="ldriverDate"><b>Data de Nascimento</b></label>
      </div>
      <div class="col-75">
        <input type="date" [(ngModel)]="driverDate" id="ldriverDate" name="driverDate" placeholder="data de nascimento[18]...">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="ldriverEntry"><b>Data de Entrada na Empresa</b></label>
      </div>
      <div class="col-75">
        <input type="date" [(ngModel)]="driverEntry" id="ldriverEntry" name="driverEntry" placeholder="data de entrada...">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="ldriverExit"><b>Data de Saída na Empresa</b></label>
      </div>
      <div class="col-75">
        <input type="date" [(ngModel)]="driverExit" id="ldriverExit" name="driverExit" placeholder="data de saída..." min="{{driverEntry}}">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="ldriverMecNumber"><b>Número Mecanográfico</b></label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="driverMecNumber" id="ldriverMecNumber" name="driverMecNumber" placeholder="número mecanográfico[9]...">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="ldriverName"><b>Nome</b></label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="driverName" id="ldriverName" name="driverName" placeholder="nome...">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="ldriverNIF"><b>NIF</b></label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="driverNIF" id="ldriverNIF" name="driverNIF" placeholder="NIF[9]...">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="ldriverLicenseExpiry"><b>Data de Validade da Licensa de Condução</b></label>
      </div>
      <div class="col-75">
        <input type="date" [(ngModel)]="driverLicenseExpiry" id="ldriverLicenseExpiry" name="driverLicenseExpiry" placeholder="data de validade...">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="ldriverLicenseNumber"><b>Número da Carta de Condução</b></label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="driverLicenseNumber" id="ldriverLicenseNumber" name="driverLicenseNumber" placeholder="carta de condução[P-[0-9]{7} [0-9]]...">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="ld"><b>Tipo de Tripulante</b></label>
      </div>
      <div class="col-75">
        <select id="lstC" [(ngModel)]="code" name="code">
          <option value="" style="font-size: 0%;">selecione o tipo</option>
          <option *ngFor="let crew of driversDisplay" style="font-size: 80%;">{{crew}} </option>
        </select>
        <button (click)="addCrewmembers()" class="button1" name="addD" style="font-size: 110%; margin-left: 5px;"><b>+</b></button>
      </div>
    </div>

    <div id="result">
      <button (click)="addDriver()" type="submit" name="addDriver" class="button" style="font-size: 110%;"> <b>Definir Tripulante</b></button>
    </div>
    <div id="result1">
      <label name="resulta">
        <b>{{resultado}}</b>
      </label>
    </div>
  </div>