<div class="container">
    <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Criar Serviço de Viatura</h2>

    <div class="row">
        <div class="col-25">
            <label for="pid"><b>Descrição</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="description" onfocus="this.value=''" id="description" name="description" placeholder="Descrição...">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="lhi"><b>Hora Início</b></label>
        </div>
        <div class="col-75">
            <input type="time" [(ngModel)]="beginDutyDate" id="beginDutyDate" name="beginDutyDate" placeholder="data e hora início...">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="lhf"><b>Hora Fim</b></label>
        </div>
        <div class="col-75">
            <input type="time" [(ngModel)]="endDutyDate" id="endDutyDate" name="endDutyDate" placeholder="data e hora fim...">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="nv"><b>Nó de Início</b></label>
        </div>
        <div class="col-75">
            <select id="startNode" [(ngModel)]="startNode" style="font-size: 150%;"
                name="startNode">
                <option value="" style="font-size: 0%;">selecione um nó</option>
                <option *ngFor="let node of nodes" style="font-size: 80%;">
                    {{node.shortName}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="f"><b>Nó de Fim</b></label>
        </div>
        <div class="col-75">
            <select id="endNode" [(ngModel)]="endNode" style="font-size: 150%;"
                name="endNode">
                <option value="" style="font-size: 0%;">selecione um nó</option>
                <option *ngFor="let node of nodes" style="font-size: 80%;">
                    {{node.shortName}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="f"><b>Viagens</b></label>
        </div>
        <div class="col-75">
            <select id="trip" [(ngModel)]="trip" style="font-size: 150%;"
                name="trip">
                <option value="" style="font-size: 0%;">selecione uma viagem</option>
                <option *ngFor="let trip of presentationTrips" style="font-size: 80%;">
                    {{trip}}</option>
            </select>
            <button (click)="addTrip()" class="button1" name="addV"
                style="font-size: 110%; margin-left: 5px;"><b>+</b></button>
        </div>
    </div>

    <div id="result">
        <button (click)="onSubmit()" type="submit" name="addVehicleDuty" class="button1" style="font-size: 110%;"> <b>Adicionar Serviço de Viatura</b></button>
    </div>
    <div id="result1">
        <label name="result">
            <b>{{resultado}}</b>
        </label>
    </div>

    <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Listar Serviços de Viatura</h2>

  <button (click)="getVehicleDuties()" class="button" type="submit" name="getVehicleDuties" style="font-size: 110%;"><b>Listar Serviços de Viatura</b></button>

  <div class="row">
    <table id="vehicleDuties">
      <tr>
        <th class="head" *ngFor="let head of headers">
          {{head}}
        </th>
      </tr>

      <tr *ngFor="let vehicleDuty of listVehicleDuties">
        <td>{{ vehicleDuty.description }}</td>
        <td>{{ vehicleDuty.beginDutyDate }}</td>
        <td>{{ vehicleDuty.endDutyDate }}</td>
        <td>{{ vehicleDuty.beginNode }}</td>
        <td>{{ vehicleDuty.endNode }}</td>
        <td>
            <table id="trips">
                <tr *ngFor="let trip of vehicleDuty.tripList">
                  <td>{{ trip }}</td>
                </tr>
              </table>
        </td>
      </tr>
    </table>
  </div>

</div>

<div style="height: 10%;"><p></p></div> 