  .container {
    height: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    font-size: 150%;
    float: left;
    width: 15%;
    margin-top: 6px;
  }
  
  .col-75 {
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  label {
    padding: 12px 12px 12px 0;
    margin-left: 20px;
    display: inline-block;
  }
  
  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
  }
  
  input[type=text]:hover {
    color: white;
    background-color: #c0b7b1;
    border: 2px solid rgb(0, 0, 0);
  }

  .button {
    margin-top: 30px;
    width: 20%;
    height: 5%;
    background-color: white; 
    color: black; 
    border: 2px solid #f4711d;
  }
  
  .button:hover {
    background-color: #f4711d;
    color: white;
  }

  .button1 {
    margin-top: 30px;
    background-color: white; 
    color: black; 
    border: 2px solid #f4711d;
    border-radius: 4px;
  }
  
  .button1:hover {
    background-color: #f4711d;
    color: white;
  }
  
  #result1 {
    display: inline-block;
  }