<div class="container">
    <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Create Crewmember Type</h2>
  
    <div class="row">
      <div class="col-25">
        <label for="lcode"><b>Code</b></label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="code" onfocus="this.value=''" id="lcode" name="code" placeholder="Code...">
      </div>
    </div>
  
    <div class="row">
      <div class="col-25">
        <label for="ldescription"><b>Description</b></label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="description" onfocus="this.value=''" id="ldescription" name="description"
          placeholder="Description...">
      </div>
    </div>

    <div id="result">
      <button id="btnSubmit" (click)="addCrewmember()" type="submit" class="button" style="font-size: 110%;"> <b>Add
          Crewmember</b></button>
    </div>
    <div id="result1">
      <label name="result">
      <b>{{result}}</b>
      </label>
    </div>
  </div>