<div class="container">
    <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Definir Veículo</h2>

    <div class="row">
        <div class="col-25">
            <label for="lvehicleType"><b>Tipo de Veículo</b></label>
        </div>
        <div class="col-751">
            <select id="VehicleTypeId" name="VehicleTypeId" [(ngModel)]="VehicleTypeId" style="font-size: 145%;">
                <option value="" style="font-size: 0%;">selecione o tipo de veículo</option>
                <option *ngFor="let vehicle of vehiclesDisplay" style="font-size: 80%;">{{vehicle}} </option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="lmatricula"><b>Matricula</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="matricula" onfocus="this.value=''" id="lmatricula" name="matricula"
                placeholder="Matricula...">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="lmatricula"><b>Vin</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="vin" onfocus="this.value=''" id="lvin" name="vin" placeholder="Vin...">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="lserviceDate"><b>Data de Serviço</b></label>
        </div>
        <div class="col-75" style="font-size: 250%;">
            <input type="date" [(ngModel)]="serviceDate" onfocus="this.value=''" id="lserviceDate" name="serviceDate"
                placeholder="Data de serviço...">
        </div>
    </div>


    <div id="result">
        <button id="btnSubmit" (click)="defineVehicle()" type="submit" class="button" style="font-size: 110%;">
            <b>Definir
                veículo</b></button>
    </div>
    <div id="result1">
        <label name="resulta">
            <b>{{resultado}}</b>
        </label>
    </div>
</div>