<div class="container">
    <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Calcular e Vizualizar
        Melhor Caminho</h2>

    <div class="row">
        <div class="col-25">
            <label for="tipo"><b>Tipo de Algoritmo</b></label>
        </div>
        <div>
            <select [(ngModel)]="tipo" id="tipo" name="tipo">
                <option value="gerador">Gerador</option>
                <option value="astar">A*</option>
                <option value="bestfirst">BestFirst</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="lhorario"><b>Horário</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="horario" id="lhorario" name="horario" placeholder="horario em segundos...">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="lno1"><b>Nó Inicial</b></label>
        </div>
        <div class="col-75">
            <select id="lstV" [(ngModel)]="no1" style="font-size: 150%;" name="no1">
                <option value="" style="font-size: 0%;">selecione nó</option>
                <option *ngFor="let no of nosDisplay" style="font-size: 80%;">{{no}}</option>
              </select>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="lno2"><b>Nó Final</b></label>
        </div>
        <div class="col-75">
            <select id="lstV" [(ngModel)]="no2" style="font-size: 150%;" name="no2">
                <option value="" style="font-size: 0%;">selecione nó</option>
                <option *ngFor="let no of nosDisplay" style="font-size: 80%;">{{no}}</option>
              </select>
        </div>
    </div>

    <div id="result">
        <button (click)="getSolution()" type="submit" class="button" style="font-size: 110%;"> <b>Obter
                Solução</b></button>
    </div>

    <div class="row">
        <div class="col-75" id="res">
            <label style="font-size: 150%; margin-top: 30px;"><b>Melhor Caminho:</b></label>
            <label *ngFor="let parte of caminho">
                <b>{{parte[0]}}->{{parte[1]}} pelo Path:{{parte[2]}}</b></label>
            <label *ngFor="let elem of path">
                <b> {{elem}} </b>
            </label>
        </div>
    </div>

</div>