<p><strong>INFORMA&Ccedil;&Atilde;O SOBRE O TRATAMENTO DOS SEUS DADOS PESSOAIS</strong></p>
<p>&nbsp;</p>
<p>A OPT &eacute; uma marca propriedade da OPT, S.A. Antes de concluir o seu registo no site online, a OPT gostaria de
    lhe dar algumas informa&ccedil;&otilde;es importantes, em rela&ccedil;&atilde;o ao tratamento dos seus dados
    pessoais.</p>
<p>&nbsp;</p>
<p><strong>T&oacute;picos:</strong></p>
<p>Que informa&ccedil;&atilde;o recolhemos?</p>
<p>Como vamos usar a informa&ccedil;&atilde;o?</p>
<p>Por quanto tempo s&atilde;o conservados os seus dados pessoais?</p>
<p>Acesso e corre&ccedil;&atilde;o dos seus dados pessoais</p>
<p>Altera&ccedil;&otilde;es &agrave; pol&iacute;tica de privacidade</p>
<p>Como nos contactar</p>
<p>&nbsp;</p>
<p><strong>Que informa&ccedil;&atilde;o recolhemos?</strong></p>
<p>No momento do seu registo no website da OPT, o sistema ir&aacute; solicitar-lhe o seu primeiro e &uacute;ltimo nome,
    email, senha de seguran&ccedil;a, morada e NIF (N&uacute;mero de Identifica&ccedil;&atilde;o Fiscal).</p>
<p>&nbsp;</p>
<p><strong>Como vamos usar a informa&ccedil;&atilde;o?</strong></p>
<p>Os dados recolhidos ser&atilde;o utilizados para a gest&atilde;o de fatura&ccedil;&atilde;o (emiss&atilde;o de
    faturas), execu&ccedil;&atilde;o do contrato de venda de um servi&ccedil;o extra na app,</p>
<p>servi&ccedil;o de localiza&ccedil;&atilde;o para garantir uma melhor experi&ecirc;ncia ao utilizador, garantia e
    apoio p&oacute;s-venda e por fim para acesso a &aacute;reas reservadas, nomeadamente &agrave; &aacute;rea de perfil
    de cada utilizador registado.</p>
<p>A qualquer momento, poder&aacute; eliminar a sua conta bem como os respetivos dados, da mesma forma que os adicionou
    atrav&eacute;s do site da empresa.</p>
<p>&nbsp;</p>
<p>Apenas ter&atilde;o acesso aos seus dados pessoais entidades cuja colabora&ccedil;&atilde;o seja indispens&aacute;vel
    &agrave; presta&ccedil;&atilde;o do(s) servi&ccedil;o(s) que subscreve. Tais como entidades subcontratadas como
    &eacute; o caso de ag&ecirc;ncias de meios e plataformas de envio de comunica&ccedil;&otilde;es. Os seus dados
    poder&atilde;o ainda ser partilhados com terceiros, para efeitos de publicidade digital.</p>
<p>&nbsp;</p>
<p><strong>Por quanto tempo s&atilde;o conservados os seus dados pessoais?</strong></p>
<p>A OPT eliminar&aacute; os seus dados pessoais, de forma imediata, logo que proceda ao cancelamento da sua conta.</p>
<p>Assim ir&aacute; proceder, igualmente, &agrave; elimina&ccedil;&atilde;o dos seus dados pessoais, caso n&atilde;o
    aceda &agrave; sua conta online durante 6 (seis) meses consecutivos.</p>
<p>&nbsp;</p>
<p><strong>Acesso e corre&ccedil;&atilde;o dos seus dados pessoais</strong></p>
<p>Como titular de dados pessoais, poder&aacute; exercer, a qualquer altura, os seguintes direitos: direito de acesso,
    direito de retifica&ccedil;&atilde;o, direito de apagamento, direito de limita&ccedil;&atilde;o do tratamento,
    direito de portabilidade e direito de oposi&ccedil;&atilde;o ao tratamento, mediante envio de e-mail para</p>
<p><a href="mailto:dadospessoais@opt.com">dadospessoais@opt.com</a> &nbsp;ou atrav&eacute;s do contacto
    telef&oacute;nico 707 10 30 10.</p>
<p>Caso necessite, poder&aacute;, ainda, apresentar reclama&ccedil;&atilde;o junto da <strong>Comiss&atilde;o Nacional
        de Prote&ccedil;&atilde;o de Dados (CNPD)</strong>.</p>
<p>A OPT assegura as melhores pr&aacute;ticas no dom&iacute;nio da seguran&ccedil;a e prote&ccedil;&atilde;o dos seus
    dados pessoais.</p>
<p>&nbsp;</p>
<p><strong>Como nos contactar</strong></p>
<p>Por favor contacte-nos caso tenha alguma quest&atilde;o sobre a nossa pol&iacute;tica de privacidade ou sobre os seus
    dados pessoais, contacte-nos:</p>
<p>&nbsp;</p>
<p>- atrav&eacute;s de email: <a href="mailto:dadospessoais@opt.com">dadospessoais@opt.com</a></p>
<p>- atrav&eacute;s do contacto telef&oacute;nico: 707 10 30 10</p>
<p>&nbsp;</p>
<p>&nbsp;</p>