<div class="container">
	<h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Create Work Block</h2>


	<div class="row">
		<div class="col-25">
			<label for="nblocks"><b>Number of blocks</b></label>
		</div>
		<div class="col-75">
		  <input type="text" id="nblocks" [(ngModel)]="nblocks" placeholder="Number of blocks...">
		</div>
	  </div>


	  <div class="row">
		<div class="col-25">
			<label for="nblocks"><b>Duration of each block</b></label>
		</div>
		<div class="col-75">
		  <input type="text" id="dblock" [(ngModel)]="dblock" placeholder="Duration of each blocks...">
		</div>
	  </div>

	  <div class="boxx">
		<select id="vehicleduty" name="vehicleduty" [(ngModel)]="vehicleduty" style="font-size: 150%;">
			<option value="" style="font-size: 0%;">Select the Vehicle Duty</option>
			<option *ngFor="let line of lineDisplay" style="font-size: 80%;">{{line}}</option>
		</select>
	</div>
	
	<div id="result">
		<button id="btnSubmit" (click)="addWorkBlock()" type="submit" class="button" style="font-size: 110%;"> <b>Add
				Work Block
			</b></button>
	</div>
	<div id="result1">
		<label name="resulta">
			<b>{{resultado}}</b>
		</label>
	</div>