<div class="container">
    <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Genetic Algorithm</h2>

    <div class="row">
        <div class="col-25">
            <label for="lvs"><b>Serviço Veículo</b></label>
        </div>
        <div class="col-75">
            <select id="vs" [(ngModel)]="vehicleService" style="font-size: 150%;" name="vehicleService">
                <option value="" style="font-size: 0%;">selecione serviço viatura</option>
                <option *ngFor="let vehicleS of vehicleServicesDsiplay" style="font-size: 80%;">{{vehicleS}}</option>
            </select>

        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="ng"><b>Número de gerações</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="nrGenerations" id="ng" name="nrGenerations" placeholder="nr gerações...">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="d"><b>Dimensão</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="dimension" id="d" name="dimension" placeholder="dimensão...">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="pc"><b>Probabilidade de Cruzamento</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="crossing" id="pc" name="crossing" placeholder="probabilidade cruzamento...">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="pm"><b>Probabilidade de Mutação</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="mutation" id="pm" name="mutation" placeholder="probabilidade mutação...">
        </div>
    </div>

    <div id="result">
        <button (click)="calculateGenericAlgorithm()" type="submit" name="calculateGenericAlgorithm" class="button"
            style="font-size: 110%;"> <b>Generate</b></button>
    </div>

    <div style="margin-top: 30px;">
        <div *ngFor="let x of lAux1" [style.backgroundColor]="x.color" style="display: inline-block; padding: 20px 20px 20px 20px;">
            {{x.number}}
        </div>
    </div>
</div>