/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
}

#pageHead {
    height: 10%;
    width: 100%;
    background-color: #f4711d;
}

#imageDiv {
    width: 3%;
    height: 3%;
}

#pageLogo {
    height: 76px
}

#text {
    float: right;
    color: white;
    font-size: 120%;
}

#pageBody {
    height: 90%;
    width: 100%;
    display: inline-block;
}

#sideBar {
    height: auto;
    width: 20%;
    margin-top: 0%;
    background-color: rgb(230, 222, 222);
    float: left;
}

#sideBar a{
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 25px;
    color: blue;
    display: block;
}

#componensViews {
    height: 100%;
    width: 80%;
    display: inline-block;
}
