<div class="container">
    <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Registo do Cliente
    </h2>
    <div class="row">
        <div class="=col-25">
            <label for="primeiroNome"><b>Primeiro Nome</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="primeironome" onfocus="this.value=''" id="primeironome" name="primeiroNome"
                placeholder="primeiro nome...">
        </div>
    </div>
    <div class="row">
        <div class="=col-25">
            <label for="ultimoNome"><b>Ultimo Nome</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="ultimonome" onfocus="this.value=''" id="ultimonome" name="ultimoNome"
                placeholder="último nome...">
        </div>
    </div>
    <div class="row">
        <div class="=col-25">
            <label for="username"><b>Username</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="username" onfocus="this.value=''" id="username" name="username"
                placeholder="username...">
        </div>
    </div>
    <div class="row">
        <div class="=col-25">
            <label for="email"><b>Email</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="email" onfocus="this.value=''" id="email" name="email"
                placeholder="email...">
        </div>
    </div>
    <div class="row">
        <div class="=col-25">
            <label for="password"><b>Password (8 characters minimum):</b></label>
        </div>
        <div class="col-75">
            <input type="password" [(ngModel)]="password" onfocus="this.value=''" id="password" name="password"
                placeholder="password...">
        </div>

    </div>
    <div class="row">
        <div class="=col-25">
            <label for="endereco"><b>Endereço</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="endereco" onfocus="this.value=''" id="endereco" name="endereco"
                placeholder="endereço de casa...">
        </div>
    </div>
    <div class="row">
        <div class="=col-25">
            <label for="nif"><b>NIF</b></label>
        </div>
        <div class="col-75">
            <input type="text" [(ngModel)]="nif" onfocus="this.value=''" id="nif" name="nif" placeholder="nif...">
        </div>
    </div>
    <div class="text-left p-t-115">
        <a class="txt1" target="_blank" [routerLink]="['/rgpd']">
            Regulamento da Proteção de Dados
        </a>
        <div class="col-75">
            <input type="checkbox" id="aceitaReg" ngmodel="false" [(ngModel)]="aceitaReg">
        </div>
    </div>
    <div id="result">
        <button id="btnSubmit" (click)="addCliente()" type="submit" class="button" style="font-size: 110%;">
            <b>REGISTAR</b></button>
    </div>

    <div id="result1">
        <label name="resulta">
            <b>{{resultado}}</b>
        </label>
    </div>

    <button backButton (click)="goBack()">Voltar</button>

</div>