<div class="container">
    <p>Tem a certeza que deseja remover conta?</p>
    <button mat-raised-button class="btn btn-danger " (click)="delete()" id="botaoDelete"><i
            class="fas fa-trash-alt"></i> Apagar Conta </button>
</div>