<div class="container">
  <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Criar Viagens</h2>

  <div class="row">
    <div class="col-25">
      <label for="lid"><b>Id Linha</b></label>
    </div>
    <div class="col-75">
      <select id="lid" [(ngModel)]="lineId" (ngModelChange)="getRoutes()" style="font-size: 150%;" name="lineId">
        <option value="" style="font-size: 0%;">selecione id linha</option>
        <option *ngFor="let line of linesDisplay" style="font-size: 80%;">{{line}}</option>
      </select>

    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="pid"><b>Percursos</b></label>
    </div>
    <div class="col-75">
      <select id="pid" [(ngModel)]="routeId" (ngModelChange)="calculateTime()" style="font-size: 150%;" name="route">
        <option value="" style="font-size: 0%;">selecione id percurso</option>
        <option *ngFor="let route of routesDisplay" style="font-size: 80%;">
          {{route}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lhi"><b>Hora Início</b></label>
    </div>
    <div class="col-75">
      <input type="time" [(ngModel)]="startTime" id="lhi" name="horainicio" placeholder="hora início...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lhf"><b>Hora Fim</b></label>
    </div>
    <div class="col-75">
      <input type="time" [(ngModel)]="finishTime" id="lhf" name="horafim" placeholder="hora fim...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="nv"><b>Número Viagens</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="nrTrips" id="nv" name="nrviagens" placeholder="nr Viagens...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="f"><b>Frequência</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="frenquency" id="{{time}}" name="frequencia" placeholder="frequência.."
        onblur="check(this.value,id)">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="nvp"><b>Número Viagens Paralelo</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="nrTripsParallel" id="nvp" name="nrviagensp" placeholder="nr viagens paralelo.."
        disabled>
    </div>
  </div>

  <div id="result">
    <button (click)="addTrip()" type="submit" name="addTrip" class="button" style="font-size: 110%;"> <b>Criar
        Viagem</b></button>
  </div>
  <div id="result1">
    <label name="resulta">
      <b>{{resultado}}</b>
    </label>
  </div>

  <router-outlet></router-outlet>
  <app-triplist></app-triplist>
</div>