<div id="sideBar">
    <nav>
        <ul class="sideMenu">
            <a class="sideMenuLine" routerLink="map" routerLinkActive="active">
                <div class="menuLineText">Map</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="import" routerLinkActive="active">
                <div class="menuLineText">Import</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="changeCrewmember" routerLinkActive="active">
                <div class="menuLineText">Calculate Best Path</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="vehicle" routerLinkActive="active">
                <div class="menuLineText">Vehicle Type</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="crewmember" routerLinkActive="active">
                <div class="menuLineText">Crewmember Type</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="node" routerLinkActive="active">
                <div class="menuLineText">Node</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="line" routerLinkActive="active">
                <div class="menuLineText">Line</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="route" routerLinkActive="active">
                <div class="menuLineText">Route</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="genericAlgorithm" routerLinkActive="active">
                <div class="menuLineText">Genetic Algorithm</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="driverAffection" routerLinkActive="active">
                <div class="menuLineText">Drivers Affection</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="workBlock" routerLinkActive="active">
                <div class="menuLineText">WorkBlock</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="trip" routerLinkActive="active">
                <div class="menuLineText">Trip</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="vehicleDuty" routerLinkActive="active">
                <div class="menuLineText">Serviço de Veículo</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="driver" routerLinkActive="active">
                <div class="menuLineText">Define Driver</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="defineVehicle" routerLinkActive="active">
                <div class="menuLineText">Define Vehicle</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="crewmemberDuty" routerLinkActive="active">
                <div class="menuLineText">Serviço de Tripulante</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="logout" routerLinkActive="active">
                <div class="menuLineText"> <i class="fas fa-sign-out-alt"></i>Logout</div>
            </a>
        </ul>
    </nav>
</div>
<div id="componensViews">
    <router-outlet></router-outlet>
</div>