<div class="container">
  <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Criar Percurso</h2>

  <div class="row">
    <div class="col-25">
      <label for="lid"><b>Id Route</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="routeId" onfocus="this.value=''" id="lid" name="lrouteid"
        placeholder="id route...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lname"><b>Nome</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="name" onfocus="this.value=''" id="lname" name="name" placeholder="nome...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lidNoInicio"><b>id No Inicio</b></label>
    </div>
    <div class="col-75">
      <select id="idNoInicio" name="idNoInicio" [(ngModel)]="idNoInicio" style="font-size: 150%; width: 50%;">
        <option value="" style="font-size: 0%;">selecione o nó inicial</option>
        <option *ngFor="let node of nodesDisplay" style="font-size: 80%;">{{node}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lidNoFim"><b>id No Fim</b></label>
    </div>
    <div class="col-75">
      <select id="idNoFim" name="idNoFim" [(ngModel)]="idNoFim" style="font-size: 150%; width: 50%;">
        <option value="" style="font-size: 0%;">selecione o nó final</option>
        <option *ngFor="let node of nodesDisplay" style="font-size: 80%;">{{node}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="pa"><b>Segmentos</b></label>
    </div>

    <div class="col-75">

      <div>
        <input type="text" [(ngModel)]="segmentId" onfocus="this.value=''" id="sid" name="addSegments1"
          placeholder="id do segment...">
      </div>


      <div class="boxx">
        <select id="idNo1" name="idNo1" [(ngModel)]="idNo1" style="font-size: 150%; width: 72%;">
          <option value="" style="font-size: 0%;">selecione o nó 1</option>
          <option *ngFor="let node of nodesDisplay" style="font-size: 80%;">{{node}}</option>
        </select>
      </div>
      <p></p>
      <div class="boxx">
        <select id="idNo2" name="idNo2" [(ngModel)]="idNo2" style="font-size: 150%; width: 72%;">
          <option value="" style="font-size: 0%;">selecione o nó 2</option>
          <option *ngFor="let node of nodesDisplay" style="font-size: 80%;">{{node}}</option>
        </select>
      </div>

      <div class="boxx">
        <input type="text" [(ngModel)]="distance" onfocus="this.value=''" id="di" name="addSegments4"
          style=" width: 72%;" placeholder="distancia...">
      </div>

      <div class="boxx">
        <input type="text" [(ngModel)]="deslocationTime" onfocus="this.value=''" id="des" name="addSegments5"
          style=" width: 72%;" placeholder="tempo de deslocamento...">
      </div>

      <div class="boxx">
        <button (click)="addSegments()" class="button1" style="font-size: 110%; margin-left: 5px;"><b>+</b></button>
      </div>
    </div>

    <div id="result">
      <button id="btnSubmit" (click)="addRoute()" type="submit" class="button" name = "botao" style="font-size: 110%;"> <b>Criar
          Percurso</b></button>
    </div>
    <div id="result1">
      <label name="resulta">
        <b>{{resultado}}</b>
      </label>
    </div>


    <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Listar Percursos da
      Linha</h2>

    <div class="row">
      <div class="col-25">
        <label for="lid"><b>Id Linha</b></label>
      </div>
      <div class="col-75">
        <select id="lid" [(ngModel)]="lineId" style="font-size: 150%; width: 30%;" name="lineId">
          <option value="" style="font-size: 0%;">selecione id linha</option>
          <option *ngFor="let line of linesDisplay" style="font-size: 80%;">{{line}}</option>
        </select>
      </div>
    </div>

    <div id="result">
      <button (click)="getRoutesByLineId()" type="submit" name="getRoutesByLineId" class="button"
        style="font-size: 110%;"> <b>Listar percursos</b></button>
        <div id="result1">
          <label name="resulta">
            <b>{{resultado1}}</b>
          </label>
        </div>
    </div>

    <div class="row">
      <table id="routes">
        <tr>
          <th *ngFor="let head of headers">
            {{head}}
          </th>
        </tr>

        <tr *ngFor="let route of routes">
          <td>{{ route.routeId }}</td>
          <td>{{ route.name }}</td>
          <td>{{ route.idNoInicio }}</td>
          <td>{{ route.idNoFim }}</td>
          <td>
            <table id="routes">
              <tr>
                <th *ngFor="let head1 of headers1">
                  {{head1}}
                </th>
              </tr>
              <tr *ngFor="let segment of route.networkSegments">
                <td>{{ segment.segmentId }}</td>
                <td>{{ segment.idNo1 }}</td>
                <td>{{ segment.idNo2 }}</td>
                <td>{{ segment.distance }}</td>
                <td>{{ segment.deslocationTime }}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>