<h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Listar Viagens da Linha
</h2>
<div class="row">
    <div class="col-25">
        <label for="lid"><b>Id Linha</b></label>
    </div>
    <div class="col-75">
        <select id="lid" [(ngModel)]="lineIdAux" style="font-size: 150%; width: 30%;" name="lineId">
            <option value="" style="font-size: 0%;">selecione id linha</option>
            <option *ngFor="let line of linesDisplay" style="font-size: 80%;">{{line}}</option>
        </select>
    </div>
</div>

<div id="result">
    <button (click)="getTripsByLineId()" type="submit" name="getTripsByLineId" class="button" style="font-size: 110%;">
        <b>Listar viagens</b></button>
    <div id="result1">
        <label name="resulta">
            <b>{{resultado1}}</b>
        </label>
    </div>
</div>

<div class="row">
    <table id="trips">
        <tr>
            <th *ngFor="let head of headers">
                {{head}}
            </th>
        </tr>

        <tr *ngFor="let trip of trips">
            <td>{{ trip.tripName.name }}</td>
            <td>{{ trip.lineId.lineId }}</td>
            <td>{{ trip.routeId.routeId }}</td>
            <td>{{ trip.isEmpty }}</td>
            <td>
                <table id="trips">
                    <tr>
                        <th *ngFor="let head1 of headers1">
                            {{head1}}
                        </th>
                    </tr>
                    <tr *ngFor="let passingTime of trip.passingTimes">
                        <td>{{ passingTime.time.time }}</td>
                        <td>{{ passingTime.nodeId.nodeId }}</td>
                        <td>{{ passingTime.reliefP }}</td>
                    </tr>
                </table>
            </td>
            <td>{{ trip.orinetaiton.orient }}</td>
        </tr>
    </table>
</div>