<div class="container">
  <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Criar No</h2>

  <div class="row">
    <div class="col-25">
      <label><b>Abreviatura</b></label>
    </div>
    <div class="col-75">
      <input type="text" id="shortName" [(ngModel)]="shortName" placeholder="Abreviatura...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lenergy"><b>Nome</b></label>
    </div>
    <div class="col-75">
      <input type="text" id="nodeName" [(ngModel)]="nodeName" placeholder="Nome...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lauto"><b>Tempo Maximo de Paragem</b></label>
    </div>
    <div class="col-75">
      <input type="text" id="maxTimeStop" [(ngModel)]="maxTimeStop" placeholder="(Segundos)">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lkmcost"><b>Capacidade de Veiculos</b></label>
    </div>
    <div class="col-75">
      <input type="text" id="vehicleCapacity" [(ngModel)]="vehicleCapacity" placeholder="Capacidade de Veiculos...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lcomp"><b>Latitude</b></label>
    </div>
    <div class="col-75">
      <input type="text" id="latitude" [(ngModel)]="latitude" placeholder="Latitude...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lspeed"><b>Longitude</b></label>
    </div>
    <div class="col-75">
      <input type="text" id="longitude" [(ngModel)]="longitude" placeholder="Longitude...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lspeed"><b>Estação de Recolha</b></label>
    </div>
    <div class="col-75">
      <input type="checkbox" id="isDepot" ngmodel="false" [(ngModel)]="isDepot">
    </div>
  </div>
  
  <div class="row">
    <div class="col-25">
      <label for="lspeed"><b>Ponto de Rendicao</b></label>
    </div>
    <div class="col-75">
      <input type="checkbox" id="isReliefPoint" [(ngModel)]="isReliefPoint" ng-model="false">
    </div>
  </div>

  <button id="addNode" (click)="onSubmit()" type="submit" class="button" style="font-size: 110%;"><b>Adicionar Nó</b></button>

  <div id="result">
    <label name="result">
    <b>{{result}}</b>
    </label>
  </div>

  <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Listar Nós</h2>

  <div class="row">
    <div class="col-25">
        <label for="order"><b>Ordem</b></label>
    </div>
    <div class="col-75">
        <select id="order" [(ngModel)]="order" style="font-size: 150%;" name="order">
            <option value="" style="font-size: 80%;" selected="selected">Nenhuma ordem</option>
            <option *ngFor="let order of orders" style="font-size: 80%;">{{order}}</option>
        </select>
    </div>
</div>

  <div class="row">
    <div class="col-25">
      <label for="lfilter"><b>Filtrar Abreviatura</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="shortNameFilter" id="shortNameFilter" name="shortNameFilter" placeholder="Abreviatura">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lfilter"><b>Filtrar Nome Completo</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="nodeNameFilter" id="nodeNameFilter" name="nodeNameFilter" placeholder="Nome Completo">
    </div>
  </div>

  <button (click)="getNodes()" class="button" type="submit" name="getNodes" style="font-size: 110%;"><b>Listar Nós</b></button>

  <div class="row">
    <table id="nodes">
      <tr>
        <th class="head" *ngFor="let head of headers">
          {{head}}
        </th>
      </tr>

      <tr *ngFor="let node of listNodes">
        <td>{{ node.shortName }}</td>
        <td>{{ node.nodeName }}</td>
        <td>{{ node.maxTimeStop }}</td>
        <td>{{ node.vehicleCapacity }}</td>
        <td>{{ node.latitude }}</td>
        <td>{{ node.longitude }}</td>
        <td>{{ node.isDepot }}</td>
        <td>{{ node.isReliefPoint }}</td>
      </tr>
    </table>
  </div>
</div>

<div style="height: 10%;"><p></p></div>
