<div class="container">
  <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Criar Serviço de
    Tripulante</h2>

  <div class="row">
    <div class="col-25">
      <label for="lcode"><b>Código</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="code" id="lcode" name="code" placeholder="código alfanumérico">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="ld"><b>Bloco de Trabalho</b></label>
    </div>
    <div class="col-75">
      <select id="listWBs" [(ngModel)]="listWBs" style="font-size: 150%;" name="listWBs">
        <option value="" style="font-size: 0%;">Id - TempoInicio - TempoFinal - NoInício - NoFinal</option>
        <option *ngFor="let wb of wbDisplay" style="font-size: 80%;">{{wb.name}} - {{wb.startTime}} - {{wb.finishTime}}
          - {{wb.beginNode}} - {{wb.finishNode}} </option>
      </select>
      <button (click)="addWBs()" class="button1" name="addWB"
        style="font-size: 110%; margin-left: 5px;"><b>+</b></button>
    </div>
  </div>

  <div id="result">
    <button (click)="addDriverDuty()" type="submit" name="addDriverDuty" class="button" style="font-size: 110%;">
      <b>Adicionar Serviço de Tripulante</b></button>
  </div>
  <div id="result1">
    <label name="resulta">
      <b>{{resultado}}</b>
    </label>
  </div>

  <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Listar Serviços de
    Tripulante</h2>

  <div id="result">
    <button (click)="getServicesT()" type="submit" name="getServicesT" class="button" style="font-size: 110%;">
      <b>Listar
        Serviços de Tripulante</b></button>
  </div>

  <div class="row">
    <table id="CrewmemberDuty">
      <tr>
        <th *ngFor="let head of headers">
          {{head}}
        </th>
      </tr>
      <tr *ngFor="let crew of servicesT">
        <td>{{ crew.identifier}}</td>
        <table id="CrewmemberDuty1">
          <tr>
            <th *ngFor="let head1 of headers1">
              {{head1}}
            </th>
          </tr>
          <tr *ngFor="let wb of crew.workblocks">
            <td>{{ wb.name}}</td>
            <td>{{ wb.startTime }}</td>
            <td>{{ wb.finishTime}}</td>
            <td>{{ wb.beginNode }}</td>
            <td>{{ wb.finishNode}}</td>
          </tr>
        </table>
      </tr>
    </table>
  </div>
</div>