<div class="container">
    <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Bem-vindo à OPT</h2>
    <div class="row">
        <div class="col-75">
            <input type="text" [(ngModel)]="username" onfocus="this.value=''" id="username" name="username"
                placeholder="username...">
        </div>
    </div>
    <div class="row">
        <div class="col-751">
            <input type="password" [(ngModel)]="password" onfocus="this.value=''" id="password" name="password"
                placeholder="password...">
        </div>
    </div>
    <div id="result">
        <button id="btnSubmit" (click)="onSubmit()">LOGIN</button>
    </div>


    <div class="text-left p-t-115">
        <span class="txt2">
            Não tem conta?
        </span>

        <a class="txt1" [routerLink]="['/cliente']">
            Registe-se
        </a>
    </div>
</div>