<div class="container">
  <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Create Vehicle Type</h2>

  <div class="row">
    <div class="col-25">
      <label for="lcode"><b>Code</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="code" onfocus="this.value=''" id="lcode" name="code" placeholder="Code...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lenergy"><b>Energy</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="energy" onfocus="this.value=''" id="lenergy" name="energy"
        placeholder="Energy...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lauto"><b>Autonomy</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]=autonomy onfocus="this.value=''" id="lauto" name="autonomy"
        placeholder="Autonomy...">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lkmcost"><b>Km Cost</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]=kmCost id="lkmcost" onfocus="this.value=''" name="kmCost" placeholder="Km Cost...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lcomp"><b>Avg Consumption</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]=consumption id="lcomp" onfocus="this.value=''" name="consumption"
        placeholder="Avg Consumption...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lspeed"><b>Avg Speed</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]=speed id="lspeed" onfocus="this.value=''" name="speed" placeholder="Avg Speed...">
    </div>
  </div>
  <div id="result">
    <button id="btnSubmit" (click)="addVehicle()" type="submit" class="button" style="font-size: 110%;"> <b>Add
        Vehicle Type</b></button>
  </div>
  <div id="result1">
    <label name="resulta">
    <b>{{resultado}}</b>
    </label>
  </div>
</div>