<div class="container">
    <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Afetação Motoristas
        para todos os serviços viatura
    </h2>

    <div id="result">
        <button (click)="calculateDriverAffection()" type="submit" name="calculateDriverAffection" class="button"
            style="font-size: 110%;"> <b>Generate</b></button>
    </div>

    <div *ngFor="let x of listaProcessada">
        <p class="aux" [style.backgroundColor]="colorAux" style="margin-right: 2%; display: inline-block; padding: 20px 20px 20px 20px; border-radius: 8px;">
            <b>Serviço Viatura: {{x.driverDuty}}</b></p>
        <p class="aux" *ngFor="let y of x.solution" [style.backgroundColor]="y.color"
            style="display: inline-block; padding: 20px 20px 20px 20px; border-radius: 8px;">{{y.number}}</p>
    </div>

</div>