<div class="container">
  <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Criar Linha</h2>

  <div class="row">
    <div class="col-25">
      <label for="lid"><b>Id Linha</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="lineId" id="lid" name="lineId" placeholder="id linha...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lname"><b>Nome</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="name" id="lname" name="name" placeholder="nome...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lcolour"><b>Cor "RGB(x,y,z)"</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="colour" id="lcolour" name="colour" placeholder="cor...">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="pa"><b>Percursos</b></label>
    </div>
    <div class="col-75">
      <select id="lstP" [(ngModel)]="routeId" style="font-size: 150%;" name="route">
        <option value="" style="font-size: 0%;">selecione percurso</option>
        <option *ngFor="let route of routesDisplay" style="font-size: 80%;">{{route}}</option>
      </select>
    </div>
    <div class="col-75">
      <select id="lstPo" [(ngModel)]="orientation" style="font-size: 150%;" name="orientation">
        <option value="" style="font-size: 0%;">selecione orientação</option>
        <option style="font-size: 80%;">Go</option>
        <option style="font-size: 80%;">Return</option>
      </select>
      <button (click)="addPaths()" class="button1" name="addP"
        style="font-size: 110%; margin-left: 5px;"><b>+</b></button>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lv"><b>Veículos Permitidos</b></label>
    </div>
    <div class="col-75">
      <select id="lstV" [(ngModel)]="codeV" style="font-size: 150%;" name="codeV">
        <option value="" style="font-size: 0%;">selecione veículo</option>
        <option *ngFor="let vehicle of vehiclesDisplay" style="font-size: 80%;">{{vehicle}}</option>
      </select>
      <button (click)="addAllowedVehicles()" class="button1" name="addV"
        style="font-size: 110%; margin-left: 5px;"><b>+</b></button>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="ld"><b>Condutores Permitidos</b></label>
    </div>
    <div class="col-75">
      <select id="lstC" [(ngModel)]="codeD" name="codeD">
        <option value="" style="font-size: 0%;">selecione condutor</option>
        <option *ngFor="let crew of crewmembersDisplay" style="font-size: 80%;">{{crew}} </option>
      </select>
      <button (click)="addAllowedDrivers()" class="button1" name="addD"
        style="font-size: 110%; margin-left: 5px;"><b>+</b></button>
    </div>
  </div>

  <div id="result">
    <button (click)="addLine()" type="submit" name="addLine" class="button" style="font-size: 110%;"> <b>Criar
        Linha</b></button>
  </div>
  <div id="result1">
    <label name="resulta">
      <b>{{resultado}}</b>
    </label>
  </div>

  <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Listar Linhas</h2>

  <div class="row">
    <div class="col-25">
      <label for="lorder"><b>Ordenar</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="order" id="lorder" name="order" placeholder="lineId or name">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lfilter"><b>Filtro</b></label>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="filter" id="lfilter" name="filter" placeholder="filtro">
    </div>
  </div>

  <div id="result">
    <button (click)="getLines()" type="submit" name="getLines" class="button" style="font-size: 110%;"> <b>Listar
        linhas</b></button>
  </div>

  <div class="row">
    <table id="lines">
      <tr>
        <th *ngFor="let head of headers">
          {{head}}
        </th>
      </tr>

      <tr *ngFor="let line of lines">
        <td>{{ line.lineId }}</td>
        <td>{{ line.name }}</td>
        <td>{{ line.colour }}</td>
        <td>
          <ul *ngFor="let path of line.paths">
            {{ path.routeId}},{{ path.orientation }}
          </ul>
        </td>
        <td>
          <ul *ngFor="let vehicle of line.allowedVehicles" placeholder="ola">
            {{ vehicle }}
          </ul>
        </td>
        <td>
          <ul *ngFor="let driver of line.allowedDrivers">
            {{ driver }}
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>