<div class="container">
    <h2 style="background: #f4711d; color: white; font-size: 200%; border-right: 5%;">&nbsp;&nbsp;Import file</h2>

    <div class="form-group">
  <input #Input hidden="true" type="file" onclick="this.value=null" (change)="InputChange($event)"
            accept=".*" />
        <button mat-flat-button color="primary" (click)="Input.click()">Choose file</button>
    </div>
    <div id="result1">
        <label name="result">
        <b>{{result}}</b>
        </label>
      </div>
</div>