.sideMenu {
    padding: 0px 0px 0px 0px;
    height: 100%;
}

.menuLineText {
    margin-left: 9%;
    color: #ce7d03;
}

.sideMenuLine:hover {
    background-color: rgb(221, 203, 203);
}

#sideBar {
    height: 100%;
    width: 20%;
    margin-top: 0%;
    background-color: rgb(230, 222, 222);
    float: left;
}

#sideBar a{
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 25px;
    color: blue;
    display: block;
}