<div id="sideBar">
    <nav>
        <ul class="sideMenu">
            <a class="sideMenuLine" routerLink="map" routerLinkActive="active">
                <div class="menuLineText">Mapa</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="triplist" routerLinkActive="active">
                <div class="menuLineText">Listar Viagens</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="logout" routerLinkActive="active">
                <div class="menuLineText"> <i class="fas fa-sign-out-alt"></i> Logout</div>
            </a>
            <hr>
            <a class="sideMenuLine" routerLink="DeleteAccount" routerLinkActive="active">
                <div class="menuLineText"> <i class="fas fa-trash-alt"></i> Apagar Conta</div>
            </a>
            <hr>
        </ul>
    </nav>
</div>
<div id="componensViews">
    <router-outlet></router-outlet>
</div>